
/*------------------------ general --------------------------------------*/
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../image/section.jpg');
    overflow: hidden;
}

/*----------------------custom bootstrap menu-----------------------------*/

.navbar-default {
    border-color: #F05F40;
    font-family: 'Lato', sans-serif;
    opacity: 0.4;
    padding-left: 2%;
    padding-right: 2%;
}

.navbar-default .nav > li > a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #222222;
}
.navbar-default .nav > li >a:hover {
    color: #F05F40;
}

.navbar-default .nav > li.active > a {
    color: #F05F40 !important;
    background-color: transparent;
}

/*-----------------------------------------welcome screen----------------------*/

.main__line {
    border-color: #F05F40;
    border-width: 5px;
    max-width: 100px;
}

.homeTitle {
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 15%;
}

.homeSubTitle {
    font-size: 2.0em;
    line-height: 1.5;
    padding-left: 20%;
    padding-right: 20%;
}

/*----------------------------------content-------------------------------*/

.section {
    margin-top: 57px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    overflow: auto;
    transition-duration: 0.4s;
}

.section__content {
    margin-top:10%;
    margin-left:10%;
    margin-right:10%;
}

.list-group-item > a{
    transition: all 0.35s;
    color: #F05F40;
}

.list-group-item a:hover,
.list-group-item a:focus {
    color: #eb3812;
}

/*-----------------------------------------custom bootstrap styles-------------------------------*/

.btn-primary {
    color: white;
    background-color: #F05F40 !important;
    border-color: white;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.btn-primary:hover {
    color: white;
    background-color: #964529 !important;
    border-color: white;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.panel-heading {
    background-color: #F05F40 !important;
    font-size: 1.5em;
}

.panel-default {
    background-color: #F05F40 !important;
}

.panel-body {
    color: dimgrey;
    font-size: 1em;
}

.panel-body > ul > li > a {
    font-size: 1.25em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.noteTitle > a {
    color: #F05F40;
}

.noteOptions > a {
    color: #353535;
}

.label {
    color: dimgrey !important;
    font-size: 0.75em !important;
}

.span_content {
    color: dimgrey !important;
    font-weight: 700;
    background-color: ghostwhite;
    font-size: 0.75em !important;
}

.label-default {
    background-color: ghostwhite;
}

.showNote {
    background-color: white !important;
}

.list-group-item-text{
    font-size: 1.0em;
}

.text-muted {
    color: black;
    font-size: 0.75em;
}

.noteOptions > a {
    font-size: 0.75em;
}

.showNote > h4{
    font-size: 1.0em;
}
.noteOptions > p {
    font-size: 0.75em;
}

@media screen and (max-width: 1920px) { 
    .homeTitle {
        font-size: 2.5em; 
    }
    .homeSubTitle {
        font-size: 1.25em; 
    }
    .panel-body > ul > li > a
    {
        font-size: 1.25em;
    }
}
@media screen and (max-width: 1024px) { 
    .homeTitle {
        font-size: 2.0em; 
    }
    .homeSubTitle {
        font-size: 1.0em; 
    }
    .panel-body > ul > li > a
    {
        font-size: 1.00em;
    }
}
@media screen and (max-width: 195px) {
    .homeTitle {
        font-size: 1.75em;
    }
    .homeSubTitle {
        font-size: 0.75em; 
    }
    .section {
        margin-top: 108px;
        overflow:scroll;
    }
    .panel-body > ul > li > a
    {
        font-size: 0.75em;
    }
}

::-webkit-scrollbar {
    display: none;
}
