
.btn-primary {
    color: white;
    background-color: #bfa489 !important;
    border-color: white;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.btn-primary:hover {
    color: white;
    background-color: #ce5936;
    border-color: white;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.panel-default {
    background-color: #462317 !important;
    border-color: black;
}

.panel-heading {
    color: #414141;
}

#showNote {
    background-color: #353535 !important;
    border-color: black;
    color: black;
}

#noteBody {
    color: #a0452b;
}

.label-default{
    background-color: #462317;
}

.text-muted {
    color: black;
    font-size: 0.75em;
}

label {
    color: black !important;
}

.noteOptions > a {
    color: #a0452b;
    font-size: 0.75em;
}

#showNote > h4{
    color: black;
    font-size: 1.0em;
}
.noteOptions > p {
    color: black;
    font-size: 0.75em;
}