body
{
	background-color: #0d0900;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0;
}

/*--------------------------- header -------------------------------------*/

.header
{
	background-image: url(image/background.jpg);
	text-align:center;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	overflow:hidden;
	height: 100%;
}

.header {
	min-width: 1000px;
	height: 200px;
	display: block;
	position: relative;
	overflow: hidden;
}

.header img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*--------------------------- menu -------------------------------------*/

.menu
{ 
	width: 100%;
	padding: 5px 0;
	background: linear-gradient(to bottom, #483900 0%,#382b00 100%);
	text-align: center;
	border-top: 1px solid #0d0900;
	border-bottom: 1px solid #0d0900;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

.menu--center{
	text-align: center;
}

.menu--display{
	display: inline-block;
	float: none;
}

.menu__item {
	width: 180px;
	border-radius: 15%;
}

.menu__item > a {
	border-radius: 15%;
}

.menu__item:hover{
	background-color: #0d0900;
}

/*--------------------------- content -------------------------------------*/


.content
{
	margin-top:  50px;
	margin-left: 20% !important;
	margin-right: 20% !important;
	transition-duration:2s;
	min-height: 50vh;
}

.content--minimize{
	transition: 2s;
}

.column--padding{
	padding:0;
}

.content--center{
	margin-left: auto;
	margin-right: auto;
}

.tail {
	width:100%;
	padding-top: 100%;
	border: 5px solid #0d0900;
	border-radius: 15%;
	transition-duration:1s;
	font-size:25px;
	opacity:0.9;
}

.tail__text{
	position: absolute;
	top: 20px;
	left: 20px;
	bottom:0;
	right: 0;
}

.tail:hover {
	cursor:hand;
	opacity: 0.5;
}

.tail--color1
{
	background: linear-gradient(to bottom, #cc1120 0%,#cc0000 100%);
}

.tail_game
{
	background: linear-gradient(to bottom, #b0851b 50%, #0d0900 100%) !important;
}

.tail--color2
{
	background: linear-gradient(to bottom, #f1da36 0%,#f1da70 100%);
}

.tail--color3
{
	background: linear-gradient(to bottom, #299a1c 0%,#299a0b 100%);
}

.tail--color4
{
	background: linear-gradient(to right, #299a0b 0%,#27DB1B 100%);
}

.tail--color5
{
	background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%);
}

.tail--color6
{
	background: linear-gradient(to right, #3195A6 0%,#2c539e 100%);
}

.tail--color7
{
	background: linear-gradient(to bottom, #cc0000 0%,#cc0000 100%);
}

.tail--color8
{
	background: linear-gradient(to top, #f1da36 0%,#f1da70 100%);
}

.tail--color9
{
	background: linear-gradient(to bottom, #299a0b 0%,#299a0b 100%);
}

.footer
{
	width:100%;
	height: 200px;
	bottom: 0;
	padding-top: 50px;
	text-align: center;
	background: linear-gradient(to bottom, #0d0900 0%,#382b00 100%);
	background-color: #0d0900;
	font-size: 0.75em;
}

/*-----------------------------------------pop up-------------------------------------------------*/


.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	overflow: hidden;
}

.modal__content {
	background-color: #cf983b;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #410c1a;
	width: 40%;
	height: 65%;
	color: #0d0900;
}

.close {
	color: #0d0900;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal--hide{
	display: none;
}

.modal--show{
	display: block;
}

.modal__content__text{
	text-align: center;
	font-size: 1.5em;
}

.modal__content__text_inside{
	font-size: 1.0em;
}

.game__table{
	position: fixed;
	right: 200px;
	top: 30vh;
	transition:2s;
}

@media (max-width: 1300px){
	.game__table{
		right: 200px !important;
		top: 30vh !important;
	}

	.modal__content__text{
		text-align: center;
		font-size: 1.25em;
	}

	.modal__content__text_inside{
		font-size: 0.75em;
	}
	.modal__content {
		width: 80%;
		height: 70%;
	}
}

@media (max-width: 1000px){
	.game__table{
		right: 80px !important;
	}
}

@media (max-width: 700px){
	.game__table{
		right: 50px !important;
	}

	.modal__content__text{
		text-align: center;
		font-size: 1em;
	}

	.modal__content__text_inside{
		font-size: 0.5em;
	}
}

.box
{
	width: 120px;
	height: 40px;
	font-size: 0.5em;
	padding-top:10px;
	text-align:center;
	border: 2px solid #483900;
	border-radius: 10px;
	margin-bottom:20px;
}

/*----------------------------------------------------notacja---------------------------------------------------*/

 #perspective
 {
	width:100px;
	height:100px;
	margin:100px 48% 450px 52%;
	perspective:900px;
	-webkit-perspective:900px; 
	opacity:0.9;
}

#parent
{
	width:100%;
	height:100%;
	position:relative;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	 transform: rotateY(-20deg) rotateX(-15deg) rotateZ(5deg) translateZ(150px);
	
}


#layer
{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	position:relative;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	top: 100px;
	animation:obrotD 1s linear;
	webkit-animation:obrotD 1s linear;

}
#layer > div
{
	position:absolute;
}

@keyframes obrotU
{
    0% { transform:rotateY(0deg); }
    100% { transform:rotateY(-90deg); }
}

@-webkit-keyframes obrotU
{
    0% { -webkit-transform:rotateY(0deg); }
    100% { -webkit-transform:rotateY(-90deg); }
}

@keyframes obrotL
{
    0% { transform:rotateX(0deg); }
    100% { transform:rotateX(-90deg); }
}

@-webkit-keyframes obrotL
{
    0% { -webkit-transform:rotateX(0deg); }
    100% { -webkit-transform:rotateX(-90deg); }
}

@keyframes obrotF
{
    0% { transform:rotateZ(0deg); }
    100% { transform:rotateZ(90deg); }
}

@-webkit-keyframes obrotF
{
    0% { -webkit-transform:rotateZ(0deg); }
    100% { -webkit-transform:rotateZ(90deg); }
}

@keyframes obrotR
{
    0% { transform:rotateX(0deg); }
    100% { transform:rotateX(90deg); }
}

@-webkit-keyframes obrotR
{
    0% { -webkit-transform:rotateX(0deg); }
    100% { -webkit-transform:rotateX(90deg); }
}


@keyframes obrotB
{
    0% { transform:rotateZ(0deg); }
    100% { transform:rotateZ(90deg); }
}

@-webkit-keyframes obrotB
{
    0% { -webkit-transform:rotateZ(0deg); }
    100% { -webkit-transform:rotateZ(90deg); }
}

@keyframes obrotD
{
    0% { transform:rotateY(0deg); }
    100% { transform:rotateY(90deg); }
}

@-webkit-keyframes obrotD
{
    0% { -webkit-transform:rotateY(0deg); }
    100% { -webkit-transform:rotateY(90deg); }
}

/*------------------------------------ obrot prim--------------------------------------------*/

@keyframes obrotUp
{
    0% { transform:rotateY(0deg); }
    100% { transform:rotateY(90deg); }
}

@-webkit-keyframes obrotUp
{
    0% { -webkit-transform:rotateY(0deg); }
    100% { -webkit-transform:rotateY(90deg); }
}

@keyframes obrotLp
{
    0% { transform:rotateX(0deg); }
    100% { transform:rotateX(90deg); }
}

@-webkit-keyframes obrotLp
{
    0% { -webkit-transform:rotateX(0deg); }
    100% { -webkit-transform:rotateX(90deg); }
}

@keyframes obrotFp
{
    0% { transform:rotateZ(0deg); }
    100% { transform:rotateZ(-90deg); }
}

@-webkit-keyframes obrotFp
{
    0% { -webkit-transform:rotateZ(0deg); }
    100% { -webkit-transform:rotateZ(-90deg); }
}

@keyframes obrotRp
{
    0% { transform:rotateX(0deg); }
    100% { transform:rotateX(-90deg); }
}

@-webkit-keyframes obrotRp
{
    0% { -webkit-transform:rotateX(0deg); }
    100% { -webkit-transform:rotateX(-90deg); }
}


@keyframes obrotBp
{
    0% { transform:rotateZ(0deg); }
    100% { transform:rotateZ(-90deg); }
}

@-webkit-keyframes obrotBp
{
    0% { -webkit-transform:rotateZ(0deg); }
    100% { -webkit-transform:rotateZ(-90deg); }
}

@keyframes obrotDp
{
    0% { transform:rotateY(0deg); }
    100% { transform:rotateY(-90deg); }
}

@-webkit-keyframes obrotDp
{
    0% { -webkit-transform:rotateY(0deg); }
    100% { -webkit-transform:rotateY(-90deg); }
}

.wall {
	width: 100px;
	height:100px;
	border-radius: 10px;
	border: 2px solid #0d0900;
	position:absolute;
}

.wall1
{
	background: linear-gradient(to bottom, #cc1120 0%,#cc0000 100%);
}

#wall1_1
{
   transform: translateZ(150px);
   -webkit-transform: translateZ(150px);
}

#wall1_2
{
   transform:translateZ(150px) translateX(100px);
	-webkit-transform:translateZ(150px) translateX(100px);
}

#wall1_3
{
   transform:translateZ(150px) translateX(-100px);
    -webkit-transform:translateZ(150px)  translateX(-100px);
}

#wall1_4
{
   transform: translateZ(150px) translateY(-100px);
   -webkit-transform: translateZ(150px) translateY(-100px);
}

#wall1_5
{
   transform:translateZ(150px) translateX(100px) translateY(-100px);
	-webkit-transform:translateZ(150px) translateX(100px) translateY(-100px);
}

#wall1_6
{
   transform:translateZ(150px) translateX(-100px) translateY(-100px);
    -webkit-transform:translateZ(150px)  translateX(-100px) translateY(-100px);
}

#wall1_7
{
   transform: translateZ(150px) translateY(100px);
   -webkit-transform: translateZ(150px) translateY(100px);
}

#wall1_8
{
   transform:translateZ(150px) translateX(100px) translateY(100px);
	-webkit-transform:translateZ(150px) translateX(100px) translateY(100px);
}

#wall1_9
{
   transform:translateZ(150px) translateX(-100px) translateY(100px);
    -webkit-transform:translateZ(150px)  translateX(-100px) translateY(100px);
}


.wall2
{
	background: linear-gradient(to bottom, #f1da36 0%,#f1da70 100%);
}

#wall2_1
{
     transform:translateZ(-150px);
        -webkit-transform:translateZ(-150px);
}

#wall2_2
{
     transform:translateZ(-150px) translateX(100px);
        -webkit-transform:translateZ(-150px) translateX(100px);
}

#wall2_3
{
     transform:translateZ(-150px) translateX(-100px);
        -webkit-transform:translateZ(-150px) translateX(-100px);
}

#wall2_4
{
     transform:translateZ(-150px) translateY(-100px) translateY(-100px);
        -webkit-transform:translateZ(-150px) translateY(-100px);
}

#wall2_5
{
     transform:translateZ(-150px) translateX(100px) translateY(-100px);
        -webkit-transform:translateZ(-150px) translateX(100px) translateY(-100px);
}

#wall2_6
{
     transform:translateZ(-150px) translateX(-100px) translateY(-100px);
        -webkit-transform:translateZ(-150px) translateX(-100px) translateY(-100px);
}
#wall2_7
{
     transform:translateZ(-150px) translateY(100px);
        -webkit-transform:translateZ(-150px) translateY(100px);
}

#wall2_8
{
     transform:translateZ(-150px) translateX(100px) translateY(100px);
        -webkit-transform:translateZ(-150px) translateX(100px) translateY(100px);
}

#wall2_9
{
     transform:translateZ(-150px) translateX(-100px) translateY(100px);
        -webkit-transform:translateZ(-150px) translateX(-100px) translateY(100px);
}

.wall3
{
	background: linear-gradient(to bottom, #299a1c 0%, #299a0b 100%);
}

#wall3_1
{
     transform:rotateY(90deg) translateZ(150px) ;
        -webkit-transform:rotateY(90deg) translateZ(150px);
}

#wall3_2
{
     transform:rotateY(90deg) translateZ(150px) translateX(100px);
        -webkit-transform: rotateY(90deg) translateZ(150px) translateX(100px);
}

#wall3_3
{
     transform:rotateY(90deg) translateZ(150px) translateX(-100px);
        -webkit-transform: rotateY(90deg) translateZ(150px) translateX(-100px);
}

#wall3_4
{
     transform:rotateY(90deg) translateZ(150px) translateY(-100px);
        -webkit-transform:rotateY(90deg) translateZ(150px) translateY(-100px);
}

#wall3_5
{
     transform:rotateY(90deg) translateZ(150px) translateX(100px) translateY(-100px);
        -webkit-transform: rotateY(90deg) translateZ(150px) translateX(100px) translateY(-100px);
}

#wall3_6
{
     transform:rotateY(90deg) translateZ(150px) translateX(-100px) translateY(-100px);
        -webkit-transform: rotateY(90deg) translateZ(150px) translateX(-100px) translateY(-100px);
}

#wall3_7
{
     transform:rotateY(90deg) translateZ(150px) translateY(100px);
        -webkit-transform:rotateY(90deg) translateZ(150px) translateY(100px);
}

#wall3_8
{
     transform:rotateY(90deg) translateZ(150px) translateX(100px) translateY(100px);
        -webkit-transform: rotateY(90deg) translateZ(150px) translateX(100px) translateY(100px);
}

#wall3_9
{
     transform:rotateY(90deg) translateZ(150px) translateX(-100px) translateY(100px);
        -webkit-transform: rotateY(90deg) translateZ(150px) translateX(-100px) translateY(100px);
}

.wall4
{
	background: linear-gradient(to right, #3195A6 0%,#2c539e 100%);
}

#wall4_1
{
     transform:rotateY(-90deg) translateZ(150px);
        -webkit-transform:rotateY(-90deg) translateZ(150px);
}

#wall4_2
{
     transform:rotateY(-90deg) translateZ(150px) translateX(100px);
        -webkit-transform: rotateY(-90deg) translateZ(150px) translateX(100px);
}

#wall4_3
{
     transform:rotateY(-90deg) translateZ(150px) translateX(-100px);
        -webkit-transform: rotateY(-90deg) translateZ(150px) translateX(-100px);
}

#wall4_4
{
     transform:rotateY(-90deg) translateZ(150px) translateY(-100px);
        -webkit-transform:rotateY(-90deg) translateZ(150px) translateY(-100px);
}

#wall4_5
{
     transform:rotateY(-90deg) translateZ(150px) translateX(100px) translateY(-100px);
        -webkit-transform: rotateY(-90deg) translateZ(150px) translateX(100px) translateY(-100px);
}

#wall4_6
{
     transform:rotateY(-90deg) translateZ(150px) translateX(-100px) translateY(-100px);
        -webkit-transform: rotateY(-90deg) translateZ(150px) translateX(-100px) translateY(-100px);
}
#wall4_7
{
     transform:rotateY(-90deg) translateZ(150px) translateY(100px);
        -webkit-transform:rotateY(-90deg) translateZ(150px) translateY(100px);
}

#wall4_8
{
     transform:rotateY(-90deg) translateZ(150px) translateX(100px) translateY(100px);
        -webkit-transform: rotateY(-90deg) translateZ(150px) translateX(100px) translateY(100px);
}

#wall4_9
{
     transform:rotateY(-90deg) translateZ(150px) translateX(-100px) translateY(100px);
        -webkit-transform: rotateY(-90deg) translateZ(150px) translateX(-100px) translateY(100px);
}
.wall5
{
	background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%);
}

#wall5_1
{
     transform:rotateX(90deg) translateZ(150px);
        -webkit-transform:rotateX(90deg) translateZ(150px);
}

#wall5_2
{
     transform:rotateX(90deg) translateZ(150px) translateX(100px);
        -webkit-transform: rotateX(90deg) translateZ(150px) translateX(100px);
}

#wall5_3
{
     transform:rotateX(90deg) translateZ(150px) translateX(-100px);
        -webkit-transform: rotateX(90deg) translateZ(150px) translateX(-100px);
}

#wall5_4
{
     transform:rotateX(90deg) translateZ(150px) translateY(-100px);
        -webkit-transform:rotateX(90deg) translateZ(150px) translateY(-100px);
}

#wall5_5
{
     transform:rotateX(90deg) translateZ(150px) translateX(100px) translateY(-100px);
        -webkit-transform: rotateX(90deg) translateZ(150px) translateX(100px) translateY(-100px);
}

#wall5_6
{
     transform:rotateX(90deg) translateZ(150px) translateX(-100px) translateY(-100px);
        -webkit-transform: rotateX(90deg) translateZ(150px) translateX(-100px) translateY(-100px);
}
#wall5_7
{
     transform:rotateX(90deg) translateZ(150px) translateY(100px);
        -webkit-transform:rotateX(90deg) translateZ(150px) translateY(100px);
}

#wall5_8
{
     transform:rotateX(90deg) translateZ(150px) translateX(100px) translateY(100px);
        -webkit-transform: rotateX(90deg) translateZ(150px) translateX(100px) translateY(100px);
}

#wall5_9
{
     transform:rotateX(90deg) translateZ(150px) translateX(-100px) translateY(100px);
        -webkit-transform: rotateX(90deg) translateZ(150px) translateX(-100px) translateY(100px);
}

.wall6
{
	background: linear-gradient(to top, #f1da36 0%,#f1da70 100%);
}

#wall6_1
{
     transform:rotateX(-90deg) translateZ(150px);
        -webkit-transform:rotateX(-90deg) translateZ(150px);
}

#wall6_2
{
     transform:rotateX(-90deg) translateZ(150px) translateX(100px);
        -webkit-transform: rotateX(-90deg) translateZ(150px) translateX(100px);
}

#wall6_3
{
     transform:rotateX(-90deg) translateZ(150px) translateX(-100px);
        -webkit-transform: rotateX(-90deg) translateZ(150px) translateX(-100px);
}

#wall6_4
{
     transform:rotateX(-90deg) translateZ(150px)  translateY(-100px);
        -webkit-transform:rotateX(-90deg) translateZ(150px)  translateY(-100px);
}

#wall6_5
{
     transform:rotateX(-90deg) translateZ(150px) translateX(100px)  translateY(-100px);
        -webkit-transform: rotateX(-90deg) translateZ(150px) translateX(100px)  translateY(-100px);
}

#wall6_6
{
     transform:rotateX(-90deg) translateZ(150px) translateX(-100px)  translateY(-100px);
        -webkit-transform: rotateX(-90deg) translateZ(150px) translateX(-100px)  translateY(-100px);
}

#wall6_7
{
     transform:rotateX(-90deg) translateZ(150px)  translateY(100px);
        -webkit-transform:rotateX(-90deg) translateZ(150px)  translateY(100px);
}

#wall6_8
{
     transform:rotateX(-90deg) translateZ(150px) translateX(100px)  translateY(100px);
        -webkit-transform: rotateX(-90deg) translateZ(150px) translateX(100px)  translateY(100px);
}

#wall6_9
{
     transform:rotateX(-90deg) translateZ(150px) translateX(-100px)  translateY(100px);
        -webkit-transform: rotateX(-90deg) translateZ(150px) translateX(-100px)  translateY(100px);
}



#button_box
{
	width: 50%;
	height: 100px;
	margin-top: 300px;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(to right, #3195A6 0%,#2c539e 100%);
	border: 2px solid #483900;
	border-radius: 10px;
	opacity:0.9;
}

.button
{
	width: 30px;
	height:  30px;
	float: left;
	border: 2px solid #483900;
	border-radius: 5px;
	margin:10px;
	background: linear-gradient(to bottom, #f1da36 0%,#f1da70 100%);
	padding:5px;
	color: #0d0900;
	font-size: 0.75em;
}

.button:hover
{
	opacity:0.5;
	cursor:hand;
}

.notation__left
{
	width:300px;
	height:300px;
	border: 5px solid #0d0900;
	margin: 0 70px;
	border-radius: 30px;
	background: linear-gradient(to bottom, #f1da36 0%,#f1da70 100%);
	color: #0d0900;
	padding: 10px 20px;
	font-size:15px;
	opacity:0.8;
}

.notation__right
{
	width:300px;
	height:300px;
	margin: 0 70px;
	border-radius: 30px;
	border: 5px solid #0d0900;

}

.notation__right > img
{
	opacity:0.8;
	filter: alpha(opacity=50);
	border-radius: 30px;
}


@media (max-width: 500px){
	.notation__left,
	.notation__right
	{
		font-size: 0.4em;
		width:200px;
		height:200px;
	}
}

.notation__right > img
{
	opacity:0.8;
	filter: alpha(opacity=50);
	border-radius: 30px;
}
