body{
    background-color: whitesmoke;
}


.Mychat {
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.chat {
    background-color: white;
    height: 200px;
    padding: 12px 0;
    margin-bottom: 15px;
    overflow: auto;
    border: 2px grey solid;
    border-radius: 4px;
}

.line {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.chatRow {
    padding: 10px 12px;
    border-bottom: 1px lightgrey dashed;
}

.form-inline .form-control {
    border: 1px grey solid;
}

.chatRow .time {
    font-size: 12px;
    color: #c2c2c2;
}

.chatRow .status {
    font-size: 15px;
    font-style: italic;
    color: #868686;
}

.chatRow .name {
    margin-right: 10px;

    font-size: 12px;
    font-weight: bold;
}

.chatRow .message {
    font-size: 13px;

}

textarea.message {
    resize: none;
    border: 1px grey solid;
}