/*---------------------------------------------------- 	General------------------------------------------------------*/

body {
	font-family:'Open Sans',sans-serif;
	font-size:16px;
	line-height:1.7;
	color:#777;
	font-weight:400;
	overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6 {
	color: whitesmoke;
	line-height:1.4;
	font-weight:700;
}

.container-fluid{
	height:100%;
	text-align: center;
	padding:0;
}

.profit {
	min-height:100vh;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10vh;
}

.profit--center {
	margin-left: auto;
	margin-right: auto;
	max-width: 85vw;
}

.profit__title{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	color:#cc580c;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}



/*---------------------------------------------------- 	Menu ------------------------------------------------------*/

.menu {
	position: absolute;
	bottom: 0;
	z-index: 100;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

.sticky {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}

.navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar {
	border-color: #410c1a;
	border-width: 3px;
	border-radius: 0;
}

.navbar--size{
	height: 80px;
	padding:12px 0 12px 0;
	margin: 0;
}

.navbar-inverse {
	background-color: #631123;
}

.navbar-collapse{
	background-color: #631123;
}

.menuItem a {
	 color: whitesmoke !important;
 }

.menuItem:hover {
	background-color: #410c1a;
}

.menuItem {
	border-right: solid;
	border-color: #410c1a;
	width: 12vw;
	font-size: 1.6vh;
}

.menuItem--first_child {
	border-left: solid;
	border-color: #410c1a;
}

.menuItem a:hover {
	color: #ffedcb !important;
}

.navbar-toggle {
	  background-color: #410c1a !important;
}

.navbar-toggle:hover {
	background-color: #760c24 !important;
}

.navber-nav{
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}

.active {
	background-color: #760c24 !important;
}

@media (max-width: 1350px ){
	.menuItem {
		font-size: 1.4vh;
	}
}

@media (max-width: 1150px) {
	.navbar-header {
		float: none;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
		width: 200px;
		margin-left: auto;
		margin-right: 0;
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-nav {
		float: none !important;
		margin-top: 7px;
	}

	.menuItem {
		float: none;
		border:none;
		width: 170px;
	}

	.collapse.in {
		display: block !important;
	}

}

/*---------------------------------------------------- 	Header ------------------------------------------------------*/

.header {
	padding-bottom:50px;
	height:100vh;
	margin:0;
}

.header__title {
	font-weight:700;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 5em;
	color:#410c1a;
	padding:5px;
	display: inline-block;
}

.header__subtitle {
	font-size: 3.0em;
	font-family: 'Gloria Hallelujah', cursive;
}

.logo {
	background-image: url(../img/logo.png) ;
	width: 174px;
	height: 246px;
}

.logo--display_inline{
	display: inline-block;
}

.header__image {
	background-image: url(../img/background.jpg);
	text-align:center;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed !important;
	overflow:hidden;
	height: 100%;
}

.header__logo {
	padding-top:15vh;
	height: 100%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width:1100px) {
	.header__title {
		font-size: 3.0em;
	}

	.header__subtitle {
		font-size: 2.0em;
	}

	.header__logo {
		margin-top: 50px;
	}
	.header__logo .logo {
		margin-left: auto;
		margin-right: auto;
	}
}
	@media (max-width:600px){
		.header__title {
			font-size: 2.5em;
		}
		.header__subtitle {
			font-size: 1.5em;
		}

		.header__logo .logo{
			width: 0 ;
			height: 0;
			background: none;
		}
	}

/*---------------------------------------------------- 	Profit 1 ------------------------------------------------------*/
.profit1{
	max-width: 85vw;
	margin-left: auto;
	margin-right: auto;
}

.profit1__image {
	position:relative;
	width:90%;
	padding:2em;
	margin:0 auto;
	border: solid;
	border-width: 5px;
	border-color: #631123;
}

.profit__image__text{
	text-align:center;
	margin:1.5em 0;
	font-size:15px;
}

.profit1__image img {
	max-width:100%;
	margin-bottom: 5px;
}

/*---------------------------------------------------- 	Profit 2 ------------------------------------------------------*/

.profit--width {
	min-height:150vh ;
	padding-top: 1vh;
	margin-top: 0;
	background-color: #ffedcb;
}

.profit2 {
	max-width: 85vw;
}

.makeItCount {
	padding:2em;
	margin:0 auto;
	border: solid;
	border-width: 5px;
	border-color: #631123;
}

/*---------------------------------------------------- 	Recipies ------------------------------------------------------*/

.grid {
	list-style:none;
	margin:0;
	padding:0;
}

.grid__item__image img {
	display: inline-block;
	width:100%;
	vertical-align: bottom;
}
.grid__item__text h3 {
	margin:0;
	padding:0 0 0;
	color:#fff;
	font-size:17px;
	font-weight:300;
}

.grid__item__text {
	overflow: hidden;
	background-color: #760c24 !important;
}

.grid__item__text p {
	margin:0;
	color:#cc580c;
	padding-right: 15px;
	font-size: 12px;
	overflow-y: auto;
	max-height: 7vh;
}

.grid__item {
	width:33%;
	float:left;
	cursor:pointer;
}
.grid__item__image {
	padding:15px;
	-webkit-transition:opacity 0.2s;
	transition:opacity 0.2s;
}
.grid__item__image:hover img {
	opacity:0.7;
}
.grid__item__text {
	background:#333;
	padding: 25px;
	overflow-y: hidden;
}

@media screen and (max-width:1600px) {
	.grid__item p {
		overflow-y: scroll;
		margin-right: -42px;
	}
}

@media screen and (max-width:1400px) {
	.grid__item {
		width:50%;
	}
	.grid__item p {
		max-height: 10vh;
	}
}

@media screen and (max-width:1000px) {
	.grid__item__text > p {
		max-height: 5vh;
	}
}

@media screen and (max-width:800px) {
	.grid__item {
			width:100%;
	}
	.grid__item__text > p {
		max-height: 5vh;
	}
}
@media screen and (max-width:600px) {
	.grid__item__text > p {
		max-height: 10vh;
	}
}

/*---------------------------------------------------- 	Profit4 ------------------------------------------------------*/

.profit--color {
	background-color: #ffedcb;
}

/*---------------------------------------------------- 	StayAlert ------------------------------------------------------*/

.stayAlert {
	min-height:100vh;
	padding-top: 25vh;
	font-family: 'Gloria Hallelujah', cursive;
}

.header__subtitle--color {
	color: #cc580c;
	font-size: 4em;
}

@media (max-width:1000px){
	.stayAlert h1 {
		font-size: 4.0em;
	}
	.stayAlert h5 {
		font-size: 3.0em;
	}

}

@media (max-width:500px){
	.stayAlert h1 {
		font-size: 3.0em;
	}
	.stayAlert h5 {
		font-size: 2.0em;
	}

}

/*----------------------------------------------------	 8. Footer Style ------------------------------------------------------*/

input.contact,
textarea.contact{
	background:#ffedcb;
	color:#000;
	padding:15px 30px;
	margin-bottom:30px;
	outline:none;
	width: 80%;
	font-size: 1.5vw;
	float: none;
}

@media (max-width:500px) {
	input.contact {
		font-size: 2.5vw;
	}

	textarea.contact {
		font-size: 2.5vw;
	}
}

.footer h2 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.8vw;
}

.contact.submit {
	 background: #ffedcb;
	 font-family: 'Open Sans', sans-serif;
	 color:#fff;
	 font-size: 2.5vw;
	 font-weight: 400;
	 text-align: center;
	 margin: 0;
	 border: none !important;
	 border-radius:3px;
	 width: 25vw;
}

.submitBtn{
	margin-bottom: 2vh;
	border: none;
	background-color: #ffedcb ;
}

.submitBtn:hover{
	background-color: #410c1a;
	border: none;
	color:#ffedcb;
}

.footer {
	margin-top:120px;
	position:relative;
	padding: 20px;
	background-color: #631123;
	float: none;
}

#footerContainer {
	padding: 20px;
}

.footer p {
	text-align: center;
	color: whitesmoke;
	padding-bottom: 5px;
}

.submitConf {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.confContent {
	background-color: #ffedcb;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.confContent p {
	padding-top: 15px;
	color: #410c1a;
	font-family: 'Open Sans', sans-serif
}

