body{
    background-color: whitesmoke;
}

.paint {
    overflow: hidden;
    margin-top: 10vh;

}

.paint .canvas {
    margin-right: 220px;
    height: 80vh;
    float: none;
    overflow: hidden;
    border: 2px grey solid;
    background: whitesmoke;
}

.paint .canvas canvas {
    width: 100%;
    height: 100%;
    position: relative;
}

.paint .sidebar {
    width: 220px;
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 10vh;
    right: 0;
}

.paint .pen_size {
    padding: 15px 15px;
    width: 190px;
    height: 100px;
    background-color: #e7e7e7;
}

.paint .buttons {
    width: 190px;
    margin: 30px 0 0 0;
}

.paint .colors {
    padding: 15px 15px;
    width: 190px;
    height: 188px;
    margin: 0 0 30px 0;
    overflow: hidden;
    background-color: #e7e7e7;
}

.clearButton{
    width: 100%;
}

.color {
    width: 30px;
    height: 30px;
    margin: 1px;
    float: left;
    border: 1px transparent solid;
    box-shadow: inset 1px 1px 0 #000;
    background-color: #000;

    cursor: pointer;
}

.paint .colors .current {
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, .8);
}

.paint input[type='range'] {
    max-width: 95%;
    cursor: pointer;
}

.paint output {
    font-size: 12px;
}

.paint #clear, .paint #save {
    margin-top: 30px;
}